.example-spacer{
    flex: 1 1 auto;
  }

.login-link {
    font-size: 18px !important; /* Ajusta el tamaño de la fuente */
    display: flex;
    align-items: center;
    justify-content: center;
  }

.toolbar1{
  background: #264061;
  border: #264061;
  width: 100%;
  height: 38px;
  top: 0;
  left: 0;
}

.toolbar2{
  height: 47px;
  border: 1px solid #114885;
  border-bottom: 0;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3);
}

.icon-profile{
  margin-top: 5px;
  margin-right: -3px;

}