.full-width{
    width: 100%;
  }

.custom-mat-form-field {
  padding: 0 20px;
  }

.custom-button {
  margin-bottom: 15px;
  margin-top: 1px;
}

.custom-image {
  margin-top: 20px;
  margin-bottom: 20px;
}