<mat-card>
  <mat-action-list>
    <button routerLink = "/admin" mat-list-item>
        <mat-icon mat-list-icon>markunread_mailbox</mat-icon> 
        <span class="aligned-with-icon">Recientes</span> 
    </button>

    <button routerLink="/admin/explorador" mat-list-item>
        <mat-icon mat-list-icon>call_to_action</mat-icon> 
        <span class="aligned-with-icon">Explorador</span> 
    </button>

    <button mat-list-item>
        <mat-icon mat-list-icon>storage</mat-icon>
        <span class="aligned-with-icon">Mantenimientos</span>       
    </button>

    <button mat-list-item>
        <mat-icon mat-list-icon>settings</mat-icon>
        <span class="aligned-with-icon">Seguridad</span>      
    </button>

    <button routerLink="/admin/plantillas" mat-list-item>
        <mat-icon mat-list-icon>title</mat-icon> 
        <span class="aligned-with-icon">Plantillas</span>         
    </button>

    <button routerLink="/admin/seguimiento" mat-list-item>
        <mat-icon mat-list-icon>title</mat-icon> 
        <span class="aligned-with-icon">Seguimiento</span>         
    </button>
  </mat-action-list>
</mat-card>